/*Colors to use
New Vegas Orange/Amber = fec726
FO4 Green = 12ff17
FO 3 Blue = 8EFBBA

*/

:root {
    --faserip-image: url("../images/faserip-hover-fighting.png");
    --faserip-right-img: url("../images/right-arrow-orange-btn.png");
    --faserip-left-img: url("../images/left-arrow-orange-btn.png");
    --powers-button: url("../images/tag_btn.png");
    --faserip-stat: "5";
    --faserip-points: "5";
    --hover-color: #fec726;
    --faserip-color: #fec726;


}
body {
    display: grid;
    justify-content: center;
}
#program_box {
    display: grid;
    width: 980px;
    grid-template-columns: 5fr 2fr;
}

/*faserip Box*/

#faserip_box {
    display: grid;
    grid-template-columns: 3.4fr 1.6fr;
    grid-template-rows: 8% 75% 17%;
    width: 700px;
    height: 450px;
    padding: 10px;
    grid-row: 1;
    margin-bottom: 20px;
}
#faserip_background_color, #powers_background_color {
    background-color: black;
    z-index: -1;
    grid-column: 1/3;
    grid-row: 1/4;
    opacity: .3;
    margin: -.25em;
}
#name_header {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 22px;
    padding: 5px;
}
#name_box {
    outline: none;
    border: none;
    font-size: 22px;
    text-align: right;
    background: none;
    margin-left: -60px;
    margin-right: .2em;
    grid-column: 2;
    grid-row: 1;
}
#faserip_wrapper {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}
.faserip-hoverable {
    display: grid;
    grid-template-columns: 2fr 1.6fr .6fr .2fr .4fr .2fr;
    grid-template-rows: 1;
    font-family: Calibri;
    font-size: 24px;
    padding-top: .2em;
    padding: 5px;
    padding-bottom: .2em;
    margin: 0px;
    color: var(--hover-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
.faserip-hoverable:hover {
    background-color: var(--hover-color);
    opacity: .9;
    color: black;
    text-shadow: .5px 0px 0px black;
}
.faserip-hoverable:hover .faserip-button-subtract {
    background-image: url("../images/left-arrow-btn-hover.png");
}
.faserip-hoverable:hover .faserip-button-add {
    background-image: url("../images/right-arrow-btn-hover.png");
}
.faserip-rank2 {
    text-align: center;
    margin-right: 5px;
    margin-left: -5px;
}

.faserip-button-subtract {
    background-image: var(--faserip-left-img);
    background-size: end;
    background-repeat:no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-right: 0px;
    margin-left: 10px;
    justify-self:center;
}
.faserip-button-add {
    background-image: var(--faserip-right-img);
    background-size: end;
    background-repeat:no-repeat;
    background-position: left;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-right: 0px;
    justify-self:start;
}
.faserip-value {
    font-family: Calibri;
    display: flex;
    justify-content: center;
}
#points_box {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#points_value {
    font-family: Calibri;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: var(--faserip-color);
}
#points_label{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 900px;
    margin-top: -.5em;
    color: var(--faserip-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
#description_box {
    grid-column: 2;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: fit-content auto;
    grid-template-rows: 7% 70% 23%;

}

#gender_div {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    margin-bottom: 0px;
    padding: 5px;
}
#img_wrapper {
    background-image: var(--faserip-image);
    height: 300px;
    width: 210px;
    justify-self: center;
    grid-row: 2;
    grid-column: 1/3;
}
#description_tittle {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 22px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-right: 0px;
    padding-left: 2px;
}
#description {
    grid-column: 1/3;
    grid-row: 3;
    padding-left: 2px;
    margin-top: -12px;
}


/*powerss*/
#powers_box{
    display: grid;
    grid-template-columns: 3.2fr 1.8fr;
    width: 700px;
    padding: 10px;
    grid-row: 2;
    margin-top: -20px;
}
#powers_header {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 22px;
    padding: 5px;
}
#powers_wrapper {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}
#talents_wrapper {
    grid-column: 2;
    grid-row: 2;
    display: grid;
}
.powers-hoverable {
    display: grid;
    grid-template-columns: 2fr 1.6fr .6fr .2fr .4fr .2fr;
    grid-template-rows: 1;
    font-family: Calibri;
    font-size: 24px;
    padding-top: .2em;
    padding: 5px;
    padding-bottom: .2em;
    margin: 0px;
    color: var(--hover-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
.talents-hoverable {
    display: grid;
    grid-template-columns: 1.2fr .2fr .1fr .2fr;
    grid-template-rows: 1;
    font-family: Calibri;
    font-size: 24px;
    padding-top: .2em;
    padding: 5px;
    padding-bottom: .2em;
    margin: 0px;
    color: var(--hover-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
.powers-hoverable:hover, .talents-hoverable:hover {
    background-color: var(--hover-color);
    opacity: .9;
    color: black;
    text-shadow: .5px 0px 0px black;
}
.powers-hoverable:hover .powers-button-subtract, .talents-hoverable:hover .talents-button-subtract {
    background-image: url("../images/left-arrow-btn-hover.png");
}
.powers-hoverable:hover .powers-button-add, .talents-hoverable:hover .talents-button-add {
    background-image: url("../images/right-arrow-btn-hover.png");
}
.powers-rank2 {
    text-align: center;
    margin-right: 5px;
    margin-left: -5px;
}

.powers-button-subtract, .talents-button-subtract {
    background-image: var(--faserip-left-img);
    background-size: end;
    background-repeat:no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-right: 0px;
    margin-left: 10px;
    justify-self:center;
}
.powers-button-add, .talents-button-add {
    background-image: var(--faserip-right-img);
    background-size: end;
    background-repeat:no-repeat;
    background-position: left;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-right: 0px;
    justify-self:start;
}
.powers-value {
    font-family: Calibri;
    display: flex;
    justify-content: center;
}
#power_points_box {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    grid-template-rows: 80% 20%;
    justify-content: center;
}
#power_points_value {
    font-family: Calibri;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: var(--faserip-color);
}
#power_points_label{
    font-family: 'Times New Roman', Times, serif;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 900px;
    margin-top: -.5em;
    color: var(--faserip-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
.slot-button-subtract, .slot-button-add{
    background-size: end;
    background-repeat:no-repeat;
    background-position: left;
    grid-row: 1;
    height: 20px;
    width: 15px;
    margin: 5px;
    margin-top: 25px;
    margin-right: 0px;
    transform:scale(150%, 150%);
    justify-self:start;
}
.slot-button-subtract {
    background-image: var(--faserip-left-img);
    grid-column: 1;
    margin-left: 100px;
    padding-right: -5px;
}
.slot-button-add {
    background-image: var(--faserip-right-img);
    grid-column: 2;
}
#point_to_limit_box{
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}
#power_limit_value {
    font-family: Calibri;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: var(--faserip-color);
}
#power_limit_label, #convert_points_label{
    font-family: 'Times New Roman', Times, serif;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 900px;
    margin-top: -.5em;
    color: var(--faserip-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
#convert_points_label{
    grid-column: 1/3;
    font-size: 20px;
}

#secondary_statistics {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 8% 60% 26%;
    width: 280px;
    height: 450px;
    padding: 10px;
    margin-bottom: 20px;
}
#statistics_background_color {
    background-color: black;
    z-index: -1;
    grid-column: 1;
    grid-row: 1/4;
    opacity: .3;
    margin: -.25em;
    
}
#statistics_header {
    grid-column: 1;
    grid-row: 1;
    font-size: 22px;
    padding: 5px;
    padding-left: 10px;
}
#statistics_box {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding-left: 5px;
    padding-right: 5px;
}
.statistic-hoverable {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: .3fr .5fr;
    font-family: Calibri;
    font-size: 20px;
    padding-top: .2em;
    padding: 5px;
    padding-bottom: .2.5em;
    color: var(--hover-color);
    text-shadow: .5px 0px 0px var(--faserip-color);
}
.statistic-label, .statistic-value {
    text-align: center;
}
.statistic-label {
    font-size: 22px;

}
.statistic-value {
    font-size: 26px;
    margin-top: 5px;
}

#character_type_box {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    justify-content:center;
}
.race-button {
    min-width: 68px;
    max-height: 40px;
    font-size: 18px;
    margin: 2px;
    padding: 0px 2px 0px 2px;
    background-color: lightgrey;
}